nav {
  display: flex;
  align-items: center;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover, &:focus {
      color: $color-secondary;
      text-decoration: none;
    }

    &:not(&:last-child) {
      margin-right: 28px;
    }

    &[data-selected=selected] {
      color: $color-secondary;
      border-bottom: 2px solid #00bf78;
    }
  }
}