.portfolio {
  &__subtitle {
    text-align: center;
    margin-bottom: 40px;
  }

  &__brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__brand {
    opacity: 50%;
    width: 160px;
    margin: 0 15px 10px;

    img {
      width: 100%;
    }
  }
}