$color-primary: #fb9475;
$color-primary-darken: #fb8975;
$color-secondary: #00bf78;
$color-link: #278aff;

$text-color: #333333;

$page-padding: 32px;

$font-family: 'Montserrat', sans-serif;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$main-menu-height: 100px;

$section-padding-x: 32px;
$section-padding-y: 50px;