@import "variables";

@import "layout/footer";
@import "layout/header";

@import "components/btn";
@import "components/nav";
@import "components/social";

@import "blocks/about";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 16px $font-family;
  color: #333333;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  max-width: 1110px + $page-padding * 2;
  width: 100%;
  margin: 0 auto;
  padding-right: $page-padding;
  padding-left: $page-padding;
}

section {
  max-width: 1110px;
  width: 100%;
}