@import "variables";

@import "layout/footer";
@import "layout/header";

@import "components/btn";
@import "components/nav";
@import "components/social";
@import "components/service";
@import "components/price";
@import "components/master";

@import "blocks/about";
@import "blocks/services";
@import "blocks/prices";
@import "blocks/masters";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 16px $font-family;
  color: #333333;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin-top: 100px;
}

h2 {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 700;
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #e1dfdf;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
